/Angular_1_5_x/node_modules
/Angular_1_5_x/.idea
/Angular_1_5_x/dev
/Angular_1_5_x/dist
/Angular_2_x/js
/Angular_2_x/node_modules
/Angular_2_x/typings
/Angular_2_x/.idea
/Vanilla_TS_JS/typings
/Vanilla_TS_JS/.idea
/node_modules
/Angular_2_x/ts/DragDrop/DragDropModule.js
/Angular_2_x/ts/DragDrop/DragDropUtils.js
/Angular_2_x/ts/DragDrop/DirectivesDragDrop.js.map
/Angular_2_x/ts/DragDrop/DragDropModule.js.map
/Angular_2_x/ts/DragDrop/DragDropUtils.js.map
/Angular_2_x/ts/DragDrop/DirectivesDragDrop.js
