<section class="m1m-media-renderer-controls" alx-dropzone
         [alx-accept-fct] = "isMedia"
         (alx-ondrop)     = "loadMedia($event)"
         style="border:1px solid #DDD"
>
<p>• {{nf.name}}</p>

    <section>
        <button *ngIf="!isPlaying()" (click)="play ()">play</button>
        <button *ngIf=" isPlaying()" (click)="pause()">pause</button>
        <button *ngIf="!isStopped()" (click)="stop ()">stop</button>
    </section>
    <section class="volume">
        <paper-slider
                min   = "0"
                max   = "100"
                [ngModel]       = "volume"
                (ngModelChange) = "setVolume($event)"
        ></paper-slider>
        <!--<input  type="range" min="0" max="100" step="1"
                        [ngModel]       = "volume"
                        (ngModelChange) = "setVolume($event)"
    />-->
    </section>
    <section *ngIf="currentMedia">
        Duration: {{currentMedia.duration}}<br />
        currentMedia object:<br />
        <code>{{currentMedia | json}}</code>
    </section>
</section>
