section[alx-dropzone] {
    border: 1px solid #DDD
}

section.playing {
    border: solid black 2px;
}

section[alx-dropzone].dropCandidate {
    background: lightgreen;
}

section[alx-dropzone].dropCandidate.canDrop {
    background: green;
}

.truc {
    background: red;
}

