<section>
    <header>
        <span (click)="browseMediaServer(null)">Servers</span>
        <span *ngIf="ms" (click)="browseMediaServer(ms)">→ {{ms.name}}</span>
        <span *ngFor="let dir of breadcrumb"
           (click)="browse(dir)">
           → {{dir.name}}</span>
    </header>
    <section>
        <section *ngIf="!ms">
            <p *ngFor="let server of devices" (click)="browseMediaServer(server)" style="border:1px solid #DDD">
                • {{server.name }}
            </p>
        </section>
        <section *ngIf="ms && data" style="border:1px solid #DDD">
            <h3>Directories:</h3>
            <p *ngFor="let dir of data.directories"
               (click)="browse(dir)">
                <span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span>{{dir.name}}
            </p>
            <h3>Medias:</h3>
            <table cellpadding="0" cellspacing="0" width="100%">
                <tr style="cursor:move" *ngFor="let media of data.medias"
                   [alx-draggable]="media"
                >
                <td>
                  {{ media.title }} — {{ media.creator }}
                </td>
                <td class="media-duration">
                  <!-- {{ duration }} -->
                  {{media.duration}}
                </td>
              </tr>
          </table>
        </section>
    </section>
</section>
