.browse .directory, .browse .media  {
    display: inline-block;
    border: dashed blue 1px;
    width: 200px;
    overflow: hidden;
    margin: 5px;
}

.item-breadcrumb {
    border-radius: 0.5em;
    border: solid grey 1px;
    background: lightgray;
    padding: 0.2em;
}
