section header span.up {
    color: lightgrey;
}

section header span.up.active {
    color: black;
}





@keyframes slide-dir{
    from{margin-left:100px}
    to  {margin-left:  0px}
}

section.original, section.clone {
    background: white;
    position: relative;
}

section {
    opacity: 1;
}

section.clone {
    transition: opacity .3s ease-in;
    opacity: 0;
}

section.original {
    animation-name: slide-dir;
    animation-duration: .3s;
}

section.original tr:active td {
    background-color: lightgreen;
    padding: 8px 0px;
}
