<section alx-dropzone
         [alx-accept-function]  = "isMedia"
         (alx-ondrop)           = "loadMedia($event)"
         alx-drag-css           = "dropCandidate"
         alx-drag-over-css      = "canDrop"
         (swipeleft)="Log('swipeleft')"
         (press)="Log('press')"
         (tap)="rootSection.classList.toggle('truc')"
         [class.playing]="isPlaying()"
         #rootSection
         >
<!-- Explication des attributs de la balise section :
– alx-drag-css = "dropCandidate" : si un media est "dragged" la classe CSS du renderer est dropCandidate
– alx-drag-over-css = "canDrop" : si le media dragé est au niveau du renderer la classe CSS canDrop s'applique
– (swipeleft)="Log('swipeleft')" : le sipe est détectable et peut déclencher une fonction
– (press)="Log('press')" : idem pour le press
– [class.playing]="isPlaying()" : la classe CSS .playing s'active si un media est lu
– #rootSection : équivalent à id="rootSection" mais à n'utiliser qu'avec un appel de classe Javascript (cf. plus bas)
-->






<!-- nf est l'objet media lu par le renderer.
Pour connaître les informations accessibles,
regardez le json tracé dans le renderer -->

<!-- Nom du player-->
<div class="serveur-circle" #player
(tap)="player.classList.toggle('play-control-display')">
  <img src="img/picto-player.svg"/>
</div>
  <p>{{nf.name}}</p>




                <!-- Boite de contrôle-->

                  <div class="play-control" #player>



                      <!-- Contrôleurs -->

                      <section class="media-controls">

                          <button *ngIf="!isPlaying()" (click)="play ();">
                              <img src="img/picto-playing.svg" style="heiht:20px">
                          </button>

                          <button *ngIf=" isPlaying()" (click)="pause()">
                              <img src="img/picto-pause.svg" style="height:20px">
                          </button>

                          <button *ngIf="!isStopped()" (click)="stop ()">
                              <img src="img/picto-stop.svg" style="height:20px">
                          </button>

                      </section>



                      <!-- Volume -->

                      <section class="volume">
                        <!-- paper-slider est une extension permettant de créer un… slider.
                        Il peut être stylé en CSS -->
                          <paper-slider style="width:100%; color:red;"
                                  min   = "0"
                                  max   = "100"
                                  [ngModel]       = "volume"
                                  (ngModelChange) = "setVolume($event)"
                          ></paper-slider>
                      </section>

                      <!-- Cette section comporte des infos complémentaires sur le media
                      en cours de lecture. Il affiche la durée du média, l'image si elle est dispo,
                      et le json complet des métadonnées du media -->
                      <section *ngIf="currentMedia">
                          <p>{{currentMedia.duration}}</p>

                          <!-- IMAGE DU MÉDIA : <img src="{{ currentMedia.icon }}" style="max-width:100px" /><br/>-->

                          <!--
                          currentMedia object:<br />
                          <code>{{currentMedia | json}}</code>
                        -->
                      </section>
                  </div>

</section>
